/*ROOT LAYER*/

html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    background: #0f0f1a;
}

.veil-container{
    color:aliceblue;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.veil-logo{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    font-size:x-large;

}

.veil-panel{
    background: linear-gradient(135deg, #0f0f1a 0% , #1a2a2e 100%);
    color: #e0e0e0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0;
}